<html>
<head>
  <title>Create New</title>
</head>
<body>
  <h1>Create Your Account</h1>

    <%= form_tag "/people/create" do %>

        <%= field_set_tag do %>
            <%= label_tag :first_name %>
            <%= text_field_tag :first_name %>
        <% end %>

        <%= field_set_tag do %>
            <%= label_tag :last_name %>
            <%= text_field_tag :last_name %>
        <% end %>
        <%= field_set_tag do %>
            <%= label_tag :email %>
            <%= text_field_tag :email %>
        <% end %>
        <%= field_set_tag do %>
            <%= label_tag :phone %>
            <%= text_field_tag :phone %>
        <% end %>
        <%= field_set_tag do %>
            <%= label_tag :twitter %>
            <%= text_field_tag :twitter %>
        <% end %>
        <%= field_set_tag do %>
            <%= label_tag :role %>
            <%= radio_button_tag :role, :value => 'Trainee' %>
            <%= radio_button_tag :role, :value => 'Instructor' %>
        <% end %>
        <%= submit_tag 'Save' %>
    <% end %>

</body>
</html>