<html>
<head>
  <title>Create New</title>
</head>
<body>
  <h1>Create Your Account</h1>

    <% form_for @person, url_for(:people, :create) do |form|%>

        <%  field_set_tag do %>
            <%= form.label :first_name %>
            <%= form.text_field :first_name %>
        <% end %>

        <%  field_set_tag do %>
            <%= form.label :last_name %>
            <%= form.text_field :last_name %>
        <% end %>
        <%  field_set_tag do %>
            <%= form.label :email %>
            <%= form.text_field :email %>
        <% end %>
        <%  field_set_tag do %>
            <%= form.label :phone %>
            <%= form.text_field :phone %>
        <% end %>
        <%  field_set_tag do %>
            <%= form.label :twitter %>
            <%= form.text_field :twitter %>
        <% end %>
        <%  field_set_tag do %>
            <%= form.label :type %>
            <%= form.select :type, :options => ['Trainee', 'Instructor'] %>
        <% end %>
        <%= form.submit 'Save' %>
    <% end %>

</body>
</html>