<html>
<head>
  <title>Person</title>
</head>
<body>
  <h1>
    <%= @person.first_name %>
    <%= @person.last_name %>
  </h1>
  <ul>
    <li>Phone Number: <%= @person.phone %> </li>
    <li>Email: <%= @person.email %> </li>
    <li>Twitter: <%= @person.twitter %> </li>
    <li>Role: <%= @person.role %> </li>
  </ul>
</body>
</html>